<div id="{{ name }}_editor"></div>

<script>
    let container = document.getElementById("{{ name }}_editor");
    let options = {{ editor_options|safe }};
    let {{ name }}_editor = new JSONEditor(container, options);
    {{ name }}_editor.on('change', function () {
        let errors = {{ name }}_editor.validate();
        if (errors.length) {
            console.log(errors);
        }
        else {
            let json = {{ name }}_editor.getValue();
            document.getElementById("id_{{ name }}").value = JSON.stringify(json);
        }
    });
    {{ name }}_editor.on('ready',() => {
        {% if data %}
            let json = {{ data | safe }};
            {{ name }}_editor.setValue(json);
        {% endif %}
    });
</script>

<textarea
    cols="40"
    id="id_{{ name }}"
    name="{{ name }}"
    rows="10"
    required=""
    style="display: none"
>
{{ data|safe }}</textarea
>
